/* Basic Style */
.app {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__details {
  font-family: fantasy, cursive;
  font-weight: 600;
}

@media (max-width:768px) {

  .header__details {
    text-align: center;
    display: block;
  }

}

.main-functions-block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-to-list__new-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-to-list__row-wrapper {
  display: flex;
}

.todo__list {
  margin: 0;
  padding: 0px;
}

.todo__item {
  list-style: none;
}

.input,
.button{
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */

.section__name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 40px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input:focus {
  color: #333;
}

/* New Task */

.add-to-list__section-name {
  display: block;
  margin: 0 0 20px;
}

.add-to-list__task-new {
  width: 318px;
}

/* Task list */

.todo__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.todo__checkbox {
  margin: 0 10px;
}

.todo__task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 70%;
}

.todo__task-name-input {
  width: 226px;
}

.todo__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */

.todo__task-name_crossed-out {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo__task-name-input_hidden {
  display: none;
}

.todo__task-name-input_active {
  display: inline-block;
  width: 70%;
}

.todo__task-name_hidden {
  display: none;
}